.ctaEmail {
    display: inline-flex;
    align-items: center;
    position: relative;
    background: #fff;
    color: #222;
    font-size: 1.4rem;
    font-weight: 300;
    border-radius: 2em;
    padding: 0.6em 2.8em 0.6em 1.2em;
    text-decoration: none;
    min-width: 260px;
    box-shadow: 0 2px 12px 0 rgba(0,0,0,0.04);
    transition: box-shadow 0.2s;
    text-transform: uppercase;
}

.ctaEmail:hover {
    box-shadow: 0 4px 24px 0 rgba(0,0,0,0.10);
}

.ctaArrow {
    position: absolute;
    right: 0.5em;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    pointer-events: none;
    background-color: #8E81D5;
    overflow: hidden;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}

.ctaArrow svg{
    width: 100%;
} 