.locationSection {
    position: sticky;
    top: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #000;
    padding: 0 5vw;
}

.left canvas{
    width: 400px;
    height: 400px;
}
.left {
    flex: 0 0 260px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.textBlock {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    line-height: 1.05;
    gap: 0.15em;
}

.firstLine, .secondLineText, .thirdLineText {
    text-transform: uppercase;
    font-size: clamp(2.5rem, 5vw, 5rem);
    font-weight: 700;
    color: #fff;
    letter-spacing: 0.02em;
    line-height: 1.05;
}

.secondLineWrapper {
    display: flex;
    align-items: center;
    margin-bottom: 0.1em;
    gap: 0.2em;
}

.secondLineWrapper a{
    margin-right: 2rem;
}
.thirdLineWrapper {
    display: flex;
    align-items: center;
    margin-top: 0.1em;
    gap: 0.7em;
}

.thirdLineText {
    letter-spacing: 0.01em;
}

.detailsText {
    color: #b6ff6c;
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 0.01em;
    line-height: 1.1;
    margin: 0;
    text-transform: uppercase;
    margin-left: 2vw;
}

@media (max-width: 900px) {
    .left canvas{
        width: 250px;
        height: 250px;
    }
    .locationSection {
        flex-direction: column;
        min-height: 100vh;
        justify-content: flex-start;
        height: auto;
        position: relative;
        padding-bottom: 10vh;
    }
    .left {        
        margin-bottom: 0px;
        width: 60%;
        margin-top: -20vh;
    }
    .right { 
        justify-content: flex-start;
        align-items: flex-start;
    }
    .secondLineWrapper, .detailsText {
        margin-left: 0;
        flex-flow: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .firstLine{
        font-size: clamp(2rem, 10vw, 8rem);
        margin-bottom: 1.5rem;
    }    
    .secondLineText {
        font-size: clamp(2rem, 10vw, 8rem);
        margin-top: 1.5rem;
    }
    .thirdLineWrapper {
        margin-left: 0;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.2em;
    }
    .thirdLineText {
        font-size: clamp(2rem, 10vw, 8rem);
        margin-bottom: 1.0rem;
    }
}

@keyframes rotate-cube {
  from {
    transform: rotateX(0deg) rotateY(0deg);
  }
  to {
    transform: rotateX(360deg) rotateY(360deg);
  }
}

.rotatingCube {
  transform-style: preserve-3d;
}

.cube {
  transform-style: preserve-3d;
  animation: rotate-cube 10s infinite linear;
  transform-origin: 91.88px 88.02px;
  -webkit-animation: rotate-cube 10s infinite linear;
}

.cubeFace {} 