@import "tailwindcss";
@import "../../public/fonts/gellix.css";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: 'Gellix', Arial, Helvetica, sans-serif;
  --font-mono: 'Gellix', Arial, Helvetica, sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Gellix', Arial, Helvetica, sans-serif;
  font-weight: 400;
}
